.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding: 92px 50px 96px 50px;
  background-color: white;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  list-style: circle;
  list-style-position: inside;
  text-underline-offset: 5px;
}

.header__menu-item:first-child {
  margin: 0;
  list-style: none;
}

.header__menu-link {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-transform: lowercase;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.contacts {
  max-width: 240px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 5px;
}

.contacts_header {
  margin-left: auto;
}

.contacts__list {
  list-style: none;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

.overlay:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 165px;
}

.banner__word {
  margin-top: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.banner__word_top {
  align-self: flex-start;
  margin-top: 0;
}

.banner__word_center {
  align-self: center;
  margin-left: 0.3em;
}

.banner__word_bottom {
  align-self: flex-end;
  margin-right: -0.3em;
}

.banner__bottom {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 106px;
}

.banner__description {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.banner__button {
  border: 1px solid #fff;
  padding: 12px 31px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 180px 24px 0 24px;
  background-color: #fff;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  list-style: none;
}

.card__title {
  z-index: 1;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
  padding-bottom: 34px;
  text-decoration: underline;
}

.card__text {
  z-index: 1;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.cards__item-link {
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: top;
  background-size: cover;
}

.card_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.cards__link-more {
  padding: 30px 0 0 40px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  place-items: start center;
  gap: 25px;
  width: 100%;
  height: 100%;
  padding: 155px 24px 180px 24px;
  background-color: #fff;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 200px;
  background-color: #000;
}

.about__logo {
  width: 148px;
  height: auto;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.about__text {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.about__text:last-child {
  margin-top: 24px;
}

.heading {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.heading_about {
  margin-bottom: 100px;
}

.heading_cards {
  padding: 0 0 27px 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 82px 50px;
  background-color: #fff;
}

.footer__menu {
  display: block;
  text-align: center;
  text-underline-offset: 5px;
  line-height: 100%;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-item {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__socials {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__socials-icon {
  width: 48px;
  height: 48px;
}
