@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 92px 50px 96px 50px;
  background-color: white;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  list-style: circle;
}

.header__menu-item {}

.header__menu-item:first-child {
  margin: 0;
  list-style: none;
}

.header__menu-link {
  margin-left: 5px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-transform: lowercase;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.contacts {
  max-width: 240px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.contacts_header {
  margin-left: auto;
}

.contacts__list {
  list-style: none;
}

.contacts__list-item_link {}

.contacts__list-item {}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 757px;
  padding: 0 50px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.banner__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  height: 385px;
  margin-top: 165px;
}

.banner__word {
  box-sizing: border-box;
  margin-top: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.banner__word:first-child {
  margin-top: 0;
}

.banner__word:last-child {
  margin-right: -0.3em;
}

.banner__word_top {
  align-self: flex-start;
}

.banner__word_center {
  align-self: center;
}

.banner__word_bottom {
  align-self: flex-end;
}

.banner__bottom {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.banner__description {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.banner__button {
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 12px 31px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 180px 24px 0 24px;
  background-color: #fff;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
}

.cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 334px;
  height: 596px;
  padding: 48px 40px;
  background-position: top;
  background-size: cover;
}

.cards__item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.cards__item-title {
  z-index: 1;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
}

.cards__item-text {
  z-index: 1;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.cards__item-link {
  z-index: 1;
}

.cards__item_first {
  background-image: url('../images/card-lot-01.jpg');
}

.cards__item_second {
  background-image: url('../images/card-lot-02.jpg');
}

.cards__item_third {
  background-image: url('../images/card-lot-03.jpg');
}

.cards__link-more {
  box-sizing: border-box;
  padding: 30px 0 0 40px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  place-items: start center;
  gap: 28px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 155px 24px 180px 24px;
  background-color: #fff;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 200px;
  background-color: #000;
}

.about__logo {
  width: 148px;
  height: auto;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 98px;
}

.about__text {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.about__text:last-child {
  margin-top: 24px;
}

.heading {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.heading_about {
  margin-bottom: 100px;
}

.heading_cards {
  box-sizing: border-box;
  padding: 0 0 27px 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 50px 82px 50px;
  background-color: #fff;
}

.footer__menu {
  display: block;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-item {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-link {}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__socials {
  display: flex;
}

.footer__socials-icon {
  width: 48px;
  height: 48px;
  margin-left: 48px;
}

.footer__socials-icon_no-margin {
  margin: 0;
}